.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #000 #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-left: 4px solid #000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333;
}